<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Data</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div class="groupTittle">
            <h1>
                <center class="title">Adding Data</center>
            </h1>
        </div>
        <div class="groupForm">
            <form action="/add" method="post">
                <label> Name </label>
                <input type="text" name="name" placeholder="masukkan nama kamu">
                <label> Height </label>
                <input type="number" name="height" placeholder="masukkan tinggi kamu">
                <label> Weight </label>
                <input type="number" step=0.01 name="weight" placeholder="masukkan berat badan kamu">
                <label> Birthdate </label>
                <input type="date" name="birthdate" id="date1">
                <div class="groupRadio">
                    <label> Is Married </label>
                    <div class="groupButtonRadio">
                    <div>
                    <input type="radio" value="0" name="married">
                      <label for="Notyet">Not Yet</label>
                    </div>
                    <div>
                    <input type="radio" value="1" name="married">
                      <label for="Yes">Yes</label>
                    </div>
                    </div>
                    </div>
        </div>
        <div class="groupButton">
            <button type="submit" class="btn"> Simpan </button>
            <a href="/" style="background-color: orange;" class="btn4">cancel</a>
        </div>
        </form>
    </div>
</body>

</html>